* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url('@/assets/image/bg.jpg') no-repeat;
  background-size: cover;
  font-size: 0.0833rem !important;
}

// 当分辨率小于1024的时候
@media screen and (max-width: 1024px) {
  html {
    font-size: 82.66px !important;
  }
}

// 当分辨率大于1920的时候
@media screen and (min-width: 1920px) {
  html {
    font-size: 160px !important;
  }
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.viewport {
  min-width: 1024px;
  max-width: 1920px;
  background: url('@/assets/image/logo.png') no-repeat;
  background-size: contain;
  min-height: 780px;
  padding: 0.4948rem 0.1042rem 0;
  color: #fff;
  display: flex;
  margin: 0 auto;
}

.panel {
  position: relative;
  border: 0.0521rem solid transparent;
  border-image-source: url('@/assets/image/border.png');
  border-width: 50.9952px 37.9968px 20.0064px 132px;
  border-image-repeat: repeat;
  border-image-slice: 51 38 20 132;
  margin-bottom: 0.1042rem;
}

.inner {
  position: absolute;
  top: -0.2656rem;
  left: -0.6875rem;
  bottom: -0.1042rem;
  right: -0.1979rem;
  padding: 0.0781rem 0.1042rem;
}

h3 {
  font-size: 0.1042rem;
  font-weight: 600;
  margin-bottom: 0.1042rem;
}

.column:nth-child(1),
.column:nth-child(3) {
  flex: 3;
}

.column:nth-child(2) {
  flex: 4;
  margin: 0.1302rem 0.0781rem;
}
